// TODO: Add color constants
// TODO: Add mixins
// TODO: Add paddings and margins values

// Paddings
$default-page-padding: 15px;

// Z-indices
$base-z-index: 1;

// Colors
$default-color: rgb(10, 180, 226);
// $grid-color: ;

// Block sizes

// Screen sizes
