// TODO: Add color constants
// TODO: Add mixins
// TODO: Add paddings and margins values

// Paddings
$default-page-padding: 15px;

// Z-indices
$base-z-index: 1;
$ui-z-index: 2;
$active-block-z-index: 3;
$block-menu-z-index: 5;
$header-z-index: 10;

// Colors
$default-color: rgb(10, 180, 226);
// $grid-color: ;

// Block sizes

// Screen sizes
