@import '@constants/style_constants';

.wrapper-container {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  z-index: 2;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.centeredBlock {
  justify-content: center;
  align-items: center;
}

.activeBlock {
  border: 1px solid rgb(27, 18, 0);
  box-shadow: 0px 0px 12px 1px rgba(174, 81, 9, 0.5);
  z-index: $active-block-z-index;
}