.wrapper-container {
  border: 1px solid black;
  width: 300px;
  height: 100px;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}