@import '@constants/style_constants';

.header-wrapper {
  position: fixed;
  top: 0;
  padding: 7px 10px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  min-height: 35px;
  width: calc(100vw - 20px);
  background-color: $header-color;
  z-index: 3;
}